<h1>Create a New Post</h1>
<form action="">
    <div>
        <label for="new-title">Title</label>
        <input type="text" id="post-title">
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text">
    </div>
    <button type="submit">Post</button>
</form>
<script src="/js/new-post.js"></script>