<div class="row mb-4 post">
  <div class="col">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
  </div>
</div>

<h1>Add a Comment</h1>
<form class="d-flex flex-column" id="newComment">
  <label for="newComment">Content</label>
  <textarea name="content" id="content" rows="3"></textarea>
  <input type="hidden" id="postId" value={{post.id}} />
  <button>Submit</button>
</form>

<h1>All Comments</h1>
{{#each post.comments as |comment|}}
  <div>
    <p>{{comment.content}}</p>
  </div>
{{/each}}
<script src="/js/comment.js"></script>